<!doctype html>
<html lang="en">
  <head>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1334800761938302",
          enable_page_level_ads: true
        });
      </script>
  </head>
  {{ partial "head" . }}
  <body class="sans-serif">
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }} 
    {{ partial "footer" . }} 
  </body>
</html>